@import '../variables';

.bannerTop{
    padding: 0 10px;
    a{
        background-color: $black;
        line-height: 1;
        display: block;
        background-color: transparent;
    }
    figure{
        padding-top: calc(100% / 3);
        position: relative;
        border: 1px solid $gray-light;
        overflow: hidden;
        border-radius: 4px;
        >img{
            position: absolute;
            width: 102%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}