#footer{
    background: $color-global-gray100;
    padding-top: 10px;
    margin-top: 10px;
    .btnInstallMobile{
        background-color: transparent;
        color: $white;
        padding: $margin-size;
        background-color: $blue;
        border-radius: 4px;
        display: flex;
        line-height: 1.5;
        width: 100%;
        max-width:  375px;
        margin: 0 auto 10px;
        font-size: 0.875rem;
        align-items: center;
        justify-content: center;
        word-break: break-word;
        .icon + span{
            margin-left: $margin-size*.5;
        }
        span{
            display: inline-block;
            line-height: inherit;
        }
    }
    .contact-information{
        a{
            color: inherit;
            font-size: inherit;
        }
    }
    .we-social{
        max-width: calc(375px / 2);
        margin: $margin-size auto 0;
    }
    .we-services{
        width: 100%;
        padding: $margin-size 0 0;
        border-top: 1px solid $gray-light;
        margin-top: $margin-size;
        .item_service{
            width: 100%;
            max-width: calc(50%);
            flex: 0 0 50%;
            padding: $margin-size*.5;
            word-break: break-word;
            a{
                color: $white;
                font-size: 1rem;
                line-height: 1.2;
                display: flex;
                align-items: center;
                justify-self: center;
            }
            span + .icon{
                margin-left: $margin-size*.5;
            }
            .icon{
                width: 18px;
                height: 18px;
                position: relative;
                &::before{
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    border: solid $white;
                    border-width: 1px 1px 0px 0px;
                    transform: rotate(45deg);
                    position: relative;
                    top:4px;
                }
            }
            span{
                display: block;
                line-height: inherit;
                flex: 1 0 0;
                max-width: fit-content;
            }
        }
    }
}